.container {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.main {
	width: 80%;
	padding: 4rem 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 80%;
	display: flex;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	padding: 2rem 0;
}

.title,
.table th {
	text-align: center !important;
}

.empty {
	padding: 2rem 0;
}

.register {
	float: right;
	margin: 1rem 0;
}

.table td {
	text-align: -webkit-center;
}

@media (max-width: 600px) {
	.table {
		overflow-x: auto;
	}
}

@media (prefers-color-scheme: dark) {
	.footer {
		border-color: #222;
	}
}
