.container {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.main {
	width: 80%;
	padding: 4rem 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 80%;
	display: flex;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem !important;
	padding: 2rem 0;
}

.title,
.table th {
	text-align: center !important;
}

.empty {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}

.register {
	float: right;
	margin: 1rem 0;
}

.table td {
	text-align: -webkit-center;
}

.error {
	color: #f62817;
	line-height: 2.5rem;
}

@media (max-width: 600px) {
	.container {
		padding: 0 0.5rem;
	}
	.main {
		display: flex;
	}
	.empty {
		position: absolute;
		width: -webkit-fill-available;
	}
	.table {
		overflow-x: auto;
	}
	.main,
	.table,
	.register {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	.footer {
		border-color: #222;
	}
}
